<!DOCTYPE html>

<% if (config.language){ %>
<html lang="<%= config.language %>">
<% } else { %>
<html lang="en">
<% } %>

<head>
    <meta charset="utf-8"/>
    <% var title = page.title; if (is_archive()) {
        title = __('archive_a');
        if
        (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if
        (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title
                = page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    } %>
    <% if (page.keywords){ %>
        <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>"/>
    <% } else if (config.keywords){ %>
        <meta name="keywords" content="<%= config.keywords %>"/>
    <% } %>
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>"/>
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>"/>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>
        <% if (title){ %><%= title %> |
        <% } %>
        <%= config.title %>
    </title>
    <% if (theme.favicon){ %>
        <link rel="shortcut icon" href="<%- theme.favicon %>"/>
    <% } %>
    <%- css('dist/main') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Shen-Yu/cdn/css/remixicon.min.css">
    <%- css('css/custom') %>
    <% if (theme.progressBar){ %>
        <script src="https://cdn.jsdelivr.net/npm/pace-js@1.0.2/pace.min.js"></script>
    <% } %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/highlight.js@9.15.8/styles/atom-one-dark.css"
          crossorigin>

    <script src="https://cdn.jsdelivr.net/combine/npm/lazysizes@5.1.0/lazysizes.min.js,gh/highlightjs/cdn-release@9.15.8/build/highlight.min.js,npm/mdui@0.4.3/dist/js/mdui.min.js?v=1"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <style>
        .todark, .totop {
            background-color: #999 !important;
        }

        #daodream-container .daodream-launcher-button {
            width: 3.2rem !important;
            height: 3.2rem !important;
            background-size: 3.2rem !important;
        }

        #daodream-container .daodream-launcher {
            width: 3.2rem !important;
            height: 3.2rem !important;
            right: 50px !important;
            bottom: 5rem !important;
            transform: scale(1.2) !important;
        }

        .daodream-powered-by {
            display: none !important;
        }

        body.darkmode .todark, body.darkmode .totop {
            background-color: #ffffff !important;
        }

        @media (max-width: 768px) {
            #daodream-container .daodream-launcher {
                right: 10px !important;
            }
        }

    </style>
    <script>
      (function (i, s, o, g, r, a, m) {
        i["DaoVoiceObject"] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        a.charset = "utf-8";
        m.parentNode.insertBefore(a, m)
      })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/5d756096.js", "daovoice")
      daovoice('init', {
        app_id: "5d756096"
      });
      daovoice('update');

    </script>
    <%- partial('google-analytics') %>
    <%- partial('baidu-analytics') %>
</head>

</html>
